.header {
  @include mq-min($desktop) {
    position: absolute;
    top: 0;
    right: 590px;
  }
}

.header-logo {
  width: 139px;
  height: 61px;
  margin-bottom: 25px;
  background: url("images/logo.svg") center center no-repeat;
  @include hide-text;

  @include mq-min($desktop) {
    margin-left: auto;
  }
}

.header-download {
  display: none;

  @include mq-min($desktop) {
    float: right;
    display: block;
    width: 109px;     // w/o border 105
    height: 34px;     // w/o border 30
    margin-bottom: 10px;
    padding-top: 4px;
    border: 2px solid #AFBDC4;
    border-radius: 3px;
    font-family: $proxima;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    @include letter-spacing(1px);
    color: #AFBDC4;
  }
}
