.wrapper {
  position: relative;
  width: 85%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;

  @include mq-min($desktop) {
    max-width: 750px;
    padding-left: 250px;
  }
}

.section-rule {
  width: 100%;
  height: 2px;
  margin: 40px 0;
  background-color: #CED7DB;
  border: none;
}
