// breakpoints

$desktop: 900px;

// color vars

$green: #CCDB38;
$teal: #536D79;

// font vars

$freight: "freight-text-pro";
$proxima: "proxima-nova";

// mixins and reset

@import "mixins";
@import "reset";

body {
  padding: 15vh 0;
  background-color: #F9F9F9;
  border-top: 3px solid $green;
  font-family: $freight, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $teal;

  @include mq-min($desktop) {
    padding: 22.5vh 0;
  }
}

a {
  color: $green;
}

// partials

@import "layout";
@import "header";
@import "intro";
@import "doc";
