.doc-block {

  * {
    margin-bottom: 25px;
  }

  .lead {
    font-size: 1.8rem;
    font-weight: bold;
  }

  code {
    display: block;
    padding: 10px 15px;
    background-color: #F2F2F2;
    font-family: monospace;
    font-size: 1.2rem;
    white-space: pre;
  }
}

.doc-block-heading {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid $green;
  font-family: $proxima;
  font-weight: bold;
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #36464E;
}
