.doc-block {
  @include mq-min($desktop) {
    position: relative;
  }

  * {
    margin-bottom: 25px;
  }

  .lead {
    font-size: 1.8rem;
    font-weight: bold;
  }

  code {
    display: block;
    padding: 15px;
    background-color: #F2F2F2;
    font-family: monospace;
    font-size: 1.2rem;
    white-space: pre;
  }

  a {
    color: $green;
  }

  img {
    display: block;
  }
}

.doc-block-heading {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid $green;
  font-family: $proxima;
  font-weight: bold;
  font-size: 2.0rem;
  text-transform: uppercase;
  @include letter-spacing(5px);
  color: #36464E;

  @include mq-min($desktop) {
    position: absolute;
    top: -4px;                  // adjust for border/baseline
    right: calc(100% + 90px);
  }
}
