.ie9 {
  // no transition support

  * {
    transform: none !important;       // disable all transforms
    opacity: 1 !important;            // set all opacity to 1
  }

  // other IE9 rules go here
}
