.wrapper {
  width: 85%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.section-rule {
  width: 100%;
  height: 2px;
  margin: 40px 0;
  background-color: #CED7DB;
  border: none;
}
