// defaults

html, body, div,
header, footer, main, section, nav,
h1, h2, h3, h4, h5, h6, img, svg,
p, a, hr, mark, span, strong, em, cite,
ol, ul, li, dl, dt, dd,
form, input, label,
video, audio, canvas, progress,
pre, code {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// box-sizing

*,
*::before,
*::after {
  box-sizing: border-box;
}

// rems to px (1rem = 10px)

html {
  font-size: 62.5%;
}

// text rendering

body {
  text-rendering: optimizeLegibility;
}

// HTML5 display default in IE9

article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

// hidden attribute

[hidden] {
  display: none;
}

// image responsiveness

img {
  max-width: 100%;
}

// svg overflow

svg:not(:root) {
  overflow: hidden;
}

// list style

ol,
ul {
  list-style: none;
}

// textarea overflow

textarea {
  overflow: auto;
  resize: vertical;
}

// code style

pre,
code {
  overflow: auto;
  font-family: monospace;
}

// bold and italic

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

// anchor background and underline

a {
  background-color: transparent;
  text-decoration: none;
}

// anchor outline

a:active,
a:hover {
  outline: none;
}
