// breakpoints

// color vars

$green: #CCDB38;

// font vars

// mixins and reset

@import "mixins";
@import "reset";

// IE9 specific

@import "ie";

body {
  padding-top: 20vh;
  background-color: #F9F9F9;
  border-top: 3px solid $green;
  // font-family: ;
  // font-weight: ;
  // font-size: ;
  line-height: 1.3;
}

// partials

@import "layout";
@import "header";
